<a href="https://colab.research.google.com/github/maskubica/python/blob/master/3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

# 0. Introduction

### DataFrame

DataFrame is one of the basic data type in pandas. Basically it is table.

In [35]:
# you can create DataFrame from dictionary
pd.DataFrame({'Key1': [0, 1], 'Key2': [2, 3]})

   Key1  Key2
0     0     2
1     1     3

In [48]:
# or from a lists
pd.DataFrame([[1,1,1,1], [2,2,2,2]], columns=['col1','col2','col3', 'col4'])

   col1  col2  col3  col4
0     1     1     1     1
1     2     2     2     2

In [54]:
# as well as from numpy arrays
import numpy as np
a = np.arange(0,5)

pd.DataFrame([a,2*a, 3*a])

   0  1  2  3   4
0  0  1  2  3   4
1  0  2  4  6   8
2  0  3  6  9  12

### Series

In [59]:
pd.Series([1, 2, 3], dtype=float)

0    1.0
1    2.0
2    3.0
dtype: float64

#1. Read data

In [60]:
from google.colab import drive

# mount google drive
drive.mount('/content/drive')

# show directory content
!ls drive/My\ Drive/python_Mateusz/datasets

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
creditcard.csv

In [61]:
# read simple CSV

df = pd.read_csv("drive/My Drive/python_Mateusz/datasets/creditcard.csv")

In [62]:
df.shape

(284807, 31)

In [30]:
df.groupby(['Class']).median()

          Time        V1        V2  ...       V27       V28  Amount
Class                               ...
0      84711.0  0.020023  0.064070  ...  0.001230  0.011199   22.00
1      75568.5 -2.342497  2.717869  ...  0.394926  0.146344    9.25

[2 rows x 30 columns]